*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Build-related files
build/
app/build/
core/data/build/
core/domain/build/
core/ui/build/
feature/onboarding/build/
feature/notifications/build/
feature/quotes/build/

# Android Studio / IntelliJ
.idea/
.idea/shelf/

# OS generated
Thumbs.db
